<form id="tweetbox">
  <label for="Tweet">Tweet</label>
  <input type="text" id="tweet" name="jonsdecision">
  <input type="number" id="timer" name="timer">
  <input type="submit" id="submit" value="Tweet Tweet!">
</form>
